<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Page</title>
    <style>
        button {
            --accentcolor: var(--accent-alt);
        }

        /* Root Variables */
        :root {
            --font-primary: 'Karla', sans-serif;
            --font-display: var(--font-primary) !important;
            /* Dark Matter Variables */
            --avatar-size: 32px;
            --background-image: url('https://i.imgur.com/7SbtKvw.png');
            --home-image: url('https://i.imgur.com/233d55Y.gif');
            --background-solid: #161921;
            --background-solid-dark: #101218;
            --background-solid-darker: #0c0e12;
            --accent: 37, 172, 232;
            --accent-alt: 29, 101, 134;
            --md-black: 0, 0, 0;
            --dm-white: 255, 255, 255;
            /* BlurpleRecolor */
            --accentcolor: var(--accent);
            --vaccentcolor-hover: rgb(var(--accent));
            --vaccentcolor-active: rgb(var(--accent));
        }

        :not(div[class*="userProfile"][class*="unThemed"]).theme-dark,
        :not(div[class*="userProfile"]).theme-light,
        div[class*="userProfile"][class*="unThemed"].theme-light {
            /* Discord vars */
            --background-primary: var(--background-solid);
            --background-mobile-primary: var(--background-primary);
            --background-secondary: var(--background-solid);
            --background-mobile-secondary: var(--background-secondary);
            --background-secondary-alt: var(--background-solid);
            --background-tertiary: var(--background-solid);
            --background-floating: var(--background-solid);
            --background-secondary: var(--background-solid);
            --background-accent: var(--background-solid);
            --background-message-hover: rgba(var(--md-black), 0.4);
            --channeltextarea-background: transparent;
            --activity-card-background: rgba(var(--dm-white), 0.05);
            --deprecated-store-bg: transparent;
            --background-modifier-hover: rgba(var(--md-black), 0.3);
            --background-modifier-active: rgba(var(--md-black), 0.3);
            --background-modifier-selected: rgba(var(--md-black), 0.6);
            --elevation-low: inset 0 -1px 0 0 rgba(var(--md-black), 0.3);
            --channels-default: rgba(var(--dm-white), 0.3);
            --deprecated-quickswitcher-input-background: var(--background-solid);
            --header-primary: rgba(var(--dm-white), 1);
            --header-secondary: rgba(var(--dm-white), 0.6);
            --text-normal: rgba(var(--dm-white), 0.6);
            --text-muted: #8a8e94;
            --interactive-muted: rgba(var(--dm-white), 0.15);
            --interactive-normal: rgba(var(--dm-white), 0.5);
            --interactive-hover: rgba(var(--dm-white), 0.75);
            --interactive-active: rgba(var(--dm-white), 1);
            --deprecated-card-bg: rgba(var(--dm-white), 0.05);
            --text-link: rgba(var(--accent), 1);
            --focus-primary: rgba(var(--accent), 1);
            --modal-background: var(--background-solid);
            --modal-footer-background: var(--background-solid-darker);
        }

        ::selection {
            background-color: rgba(var(--accent-alt), 0.5);
        }

        /* Scrollbars */
        ::-webkit-scrollbar {
            width: 14px !important;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 8px !important;
            border: 3px solid transparent !important;
            background-color: rgba(var(--accent-alt), 1) !important;
        }

        ::-webkit-scrollbar-track {
            visibility: visible !important;
            border-radius: 8px !important;
            border: 3px solid transparent !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            background-clip: padding-box !important;
        }

        .none-2Eo-qx::-webkit-scrollbar {
            display: none !important;
        }

        /* Titlebar */
        div[class*="typeWindows-"] {
            --background-modifier-hover: rgba(var(--dm-white), 0.05);
            --background-modifier-active: rgba(var(--dm-white), 0.075);
            height: 26px;
        }

        div[class*="typeWindows-"]>div:first-child {
            display: none;
        }

        div[class*="typeWindows-"]>div[role="button"] {
            height: 30px;
            width: 36px;
        }

        div[class*="typeWindows-"]::after {
            content: 'Discord';
            font-weight: 5000;
            line-height: 31px;
            color: var(--text-muted);
            font-size: 14px;
            position: absolute;
            padding: 0 12px;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            background: rgba(var(--md-black), 0.85);
            z-index: -1;
        }

        /* Guilds */
        nav[class*="guilds-"] {
            background: transparent;
        }

        ul[data-list-id='guildsnav'] {
            --background-secondary: var(--background-solid);
            --background-primary: rgba(var(--dm-white), 0.1);
            margin-bottom: 70px;
            background-color: rgba(var(--md-black), 0.6);
            border-right: 1px solid rgba(var(--md-black), 0.2);
            box-shadow: inset -10px 0px 20px -10px rgba(var(--md-black), 0.3);
        }

        ul[data-list-id='guildsnav'] ::-webkit-scrollbar {
            display: none;
        }

        ul[data-list-id='guildsnav']>div[dir] {
            padding-top: 18px;
        }

        ul[data-list-id='guildsnav'] [class^="pill-"],
        ul[data-list-id='guildsnav'] [class^="pill-"]>div {
            height: 40px !important;
        }

        ul[data-list-id='guildsnav'] div[style*="height: 56"],
        ul[id^="folder-items-"] {
            height: auto !important;
        }

        ul[data-list-id='guildsnav'] [class^="pill-"] span {
            width: 10px;
            margin-left: -5px;
            border-radius: 20px;
        }

        [data-list-id='guildsnav'] [class^="pill-"] span[style^="opacity: 1; height: 40"] {
            --header-primary: rgba(var(--accent), 1);
        }

        span[class^="expandedFolderBackground-"] {
            --background-secondary: rgba(var(--md-black), 0.25);
            border-radius: 14px;
            width: 40px;
            left: 16px;
        }

        .wrapper-28eC3z,
        [data-list-id='guildsnav'] [data-dnd-name] > div,
        [data-list-id='guildsnav'] svg[width="48"] {
            width: 40px;
            height: 40px;
        }

        div[data-list-item-id="guildsnav___home"] {
            background: var(--home-image) top center/110% no-repeat;
        }

        div[class^="unreadMentionsIndicatorBottom-"] {
            bottom: 70px;
        }

        #app-mount [data-list-item-id="guildsnav___home"]>div {
            color: transparent;
            background-color: transparent;
        }

        div[data-list-item-id="guildsnav___create-join-button"],
        div[data-list-item-id="guildsnav___guild-discover-button"] {
            transition: 150ms ease;
            opacity: 0.5;
            background-color: var(--background-solid) !important;
            color: rgba(var(--dm-white), 0.3) !important;
            border: 1px dashed rgba(var(--dm-white), 0.3);
            border-radius: 50px;
        }

        div[data-list-item-id="guildsnav___create-join-button"]:hover,
        div[data-list-item-id="guildsnav___guild-discover-button"]:hover {
            opacity: 1;
        }

        /* Sidebar */
        .platform-win [class^="sidebar-"] {
            border-radius: 0;
            background-color: transparent;
        }

        div[class^="sidebar-"] nav,
        #private-channels {
            background: var(--background-secondary) !important;
            --background-tertiary: rgba(var(--md-black), 0.35);
        }

        div[class^="sidebar-"]>nav>div[class^="searchBar"] {
            height: 54px;
        }

       
